<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        label{
            display: block;
            margin: 15px 0 0 0;
        }
        input[type=submit]{
            display: block;
        }
        
    </style>
</head>
<body>
    <header>
        <h1>This is in layout</h1>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
